@use '../../scss/variables' as *;

input {
  border: 0;
  background-color: $black;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: $border-radius;
  color: $text-color;
  font-family: $font-family;

  &::placeholder{
    opacity: 0.5;
  }
}

