@use '../../scss/' as *;

.footer {
  position: relative;
  padding: 5rem 2rem;
  background-color: $body-bg;

  &-content {
    max-width: 1200px;

    &-logo {
      @include flex(center, center);
      margin-right: 5rem;
    }

    &-menus {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      @include mobile {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &-menu {
      @include flex(flex-start, flex-start);
      flex-direction: column;
      margin: auto;

      font-size: 1.5rem;
      font-weight: 500;

      & > * ~ * {
        margin-top: 1rem;
      }

      &-title {
        color: $main-color;
        font-weight: 700;

        &-genres {
          color: transparent;
        }
      }

    }
  }
}
