$body-bg: #151515;
$main-color: #C70039;
$text-color: #FAFAFA;
$text-hover: #FF6969;

$white: #FAFAFA;
$black: #050505;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 8rem;
$header-shrink-height: 6rem;
$border-radius: 10px;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Poppins";